*.gem
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
example/_site
Gemfile.lock
node_modules
npm-debug.log*
download/Big_Data_on_AWS_3.8_(EN)_Lab_Guide.pdf
download/Big_Data_on_AWS_3.8_(EN)_Student_Guide.pdf
