<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
  <meta name="description"
    content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
</head>

<body id="post">
  <div id="wrapper">
    <header id="header">
      <div class="header-inner">
        <h1><a href="{{ site.url }}/">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>
      </div>
    </header>

    <div id="container">
      <aside id="sidebar">
        {% include sidebar.html %}
      </aside>

      <main id="main-content">
        <article class="hentry">
          <header>
            <h1 class="entry-title">{{ page.title }}</h1>
            <div class="entry-meta">
              Posted on {{ page.date | date: "%B %d, %Y" }}
            </div>
          </header>
          <div class="entry-content">
            {{ content }}
          </div>
          {% if page.comments != false and site.disqus_shortname %}
          <!-- Disqus simplified -->
          <div id="disqus_thread"></div>
          <script type="text/javascript">
            var disqus_shortname = '{{ site.disqus_shortname }}';
            (function () {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
          {% endif %}
        </article>
      </main>
    </div>

    <footer id="footer">
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}</p>
    </footer>
  </div>
</body>

</html>