<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
  <meta name="description"
    content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
</head>

<body id="post-index">
  <div id="wrapper">
    <header id="header">
      <div class="header-inner">
        <h1><a href="{{ site.url }}/">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>
      </div>
    </header>

    <div id="container">
      <aside id="sidebar">
        {% include sidebar.html %}
      </aside>

      <main id="main-content">
        {{ content }}
      </main>
    </div>

    <footer id="footer">
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}</p>
    </footer>
  </div>
</body>

</html>